{% extends "base.html" %}

{% block content %}
    <div class="loading">Loading&#8230;</div>
    <form id="search_form" action='/_search/' method='get'>
        <input id="tags" type="text" name='tags' />
        <input type="submit" value="Search" />
    </form>

    <div id="entry-box" class="clearfix">
        {% include "entries.html" %}
    </div>
{% endblock %}

{% block extrafoot %}
<script type="text/javascript">
    $(window).load(function() {
        $(".loading").hide();
    });

    $(document).ready(function() {
        $("#search_form").on('submit', function(e) {
            e.preventDefault();
            $(".loading").show();
            var tags = $("#tags").val();

            $.ajax({
                url: '/_search/',
                type: "GET",
                dataType: "json",
                data: {'tags': tags},
                success: function(data) {
                    $("#entry-box").html(data.contents);
                    $(".loading").hide();
                }
            });
        });
    });
</script>

{% endblock %}